
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,500&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="./css/normalize.css">
        <link href="./css/styles.css" rel="stylesheet" >
        <script src="https://kit.fontawesome.com/28dc9609a4.js" crossorigin="anonymous"></script>
        <title>Primer documento en HTML</title>
    </head>
<body>

<header class="header-top">
    <div class="logoybusqueda"><img class="logo" src="./images/logo-mercado-liebre.svg">

    <div class="busqueda"><i class="fas fa-search" id="fasearch"></i>barra de busqueda</div></div>

    <div class="tarjeta"><i class="fas fa-hand-holding-usd"></i> compra en cuotas y sin tarjeta de crédito</div><br/>
    
</header>
<nav class="header-bottom">
    <ul class="linksflex1">
    <li><a href="#">Ofertas</a></li>
    <li><a href="#">Tiendas oficiales</a></li>
    <li><a href="#">Vender</a></li>
    <li><a href="#">Ayuda</a></li></ul>

    <ul class="linksflex2">
    <li><a href="./register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
    <li><a href="./login">Ingresá <i class="fas fa-arrow-circle-right"></i></a></li>
    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li></ul>


</nav>
<div class="burger-menu"><i class="fas fa-bars"></i></div>
<img src="./images/img-home-banner.jpg" alt="bannermeli" class="banner1">

<main>

<section>

<h2 class="titulares">Basado en tu última visita</h2>
<div class="sectiontop">
    <article class="articulos">
        <img src="./images/img-cafetera-moulinex.jpg" alt="">
        <div class="camion"><i class="fas fa-truck"></i></div>
        <div class="preciodescuento"><p class="precios">
        $6.770
        </p>
        <p class="descuentos">
        40% OFF</div>
        </p>
        <p class="descripciones">
        <strong> Cafetera Moulinex</strong>
        </p>
    </article>
    <article class="articulos">
        <img src=".\images\img-macbook-pro-2019.jpg" alt="">
        <div class="camion"><i class="fas fa-truck"></i></div>
        <div class="preciodescuento"><p class="precios">
        $230.000
        </p>
        <p class="descuentos">
        20% OFF</div>
        </p>
        <p class="descripciones">
        <strong> MacBook Pro 2019 </strong>
        </p>
    </article>
    <article class="articulos">
        <img src=".\images\img-samsung-galaxy-s10.jpg" alt="">
        <div class="camion"><i class="fas fa-truck"></i></div>
        <div class="preciodescuento"><p class="precios">
        $70.500
        </p>
        <p class="descuentos">
        10% off</div>
        </p>
        <p class="descripciones">
        <strong> Samsung Galaxy S10 </strong>
        </p>
    </article>
    <article class="articulos">
        <img src="./images/img-tv-samsung-smart.jpg" alt="">
        <div class="camion"><i class="fas fa-truck"></i></div>
        <div class="preciodescuento"><p class="precios">
        $23.200
        </p>
        <p class="descuentos">
        5% off</div>
        </p>
        <p class="descripciones">
        <strong> SmartTv Samsung 43" </strong>
        </p>
    </article>
</div>
</section>

<br/>

<section>
<h2 class="titulares">Sección de ofertas</h2>
    <div  class="sectionbottom"><article class="articulos">
        <img src="./images/img-cafetera-moulinex.jpg" alt="">
        <div class="camion"><i class="fas fa-truck"></i></div>
        <div class="preciodescuento"><p class="precios">
            $6.770
        </p>
        <p class="descuentos">
            40% OFF</div>
        </p>
        <p class="descripciones">
        <strong> Cafetera Moulinex</strong>
        </p>
    </article>
    <article class="articulos">
        <img src=".\images\img-macbook-pro-2019.jpg" alt="">
        <div class="camion"><i class="fas fa-truck"></i></div>
        <div class="preciodescuento"><p class="precios">
            $230.000
        </p>
        <p class="descuentos">
            20% OFF</div>
        </p>
        <p class="descripciones">
        <strong> MacBook Pro 2019 </strong>
        </p>
    </article>
    <article class="articulos">
        <img src=".\images\img-samsung-galaxy-s10.jpg" alt="">
        <div class="camion"><i class="fas fa-truck"></i></div>
        <div class="preciodescuento"><p class="precios">
            $70.500
        </p>
        <p class="descuentos">
            10% off</div>
        </p>
        <p class="descripciones">
        <strong> Samsung Galaxy S10 </strong>
        </p>
    </article>
    <article class="articulos">
        <img src="./images/img-tv-samsung-smart.jpg" alt="">
        <div class="camion"><i class="fas fa-truck"></i></div>
        <div class="preciodescuento"><p class="precios">
            $23.200
        </p>
        <p class="descuentos">
            5% off</div>
        </p>
        <p class="descripciones">
        <strong> SmartTv Samsung 43" </strong>
        </p>
    </article>
</div>
</section>
</main>

<footer>
<div class="footerposition1"><i class="far fa-credit-card" id="iconofooter"></i>
<div class="footer1"><h5>Pagá con tarjeta o en efectivo</h5>
    <p>
        Con Mercado Liebre Cash, tenés cuotas sin
        interés con tarjeta o efectivo en puntos de
        pago. ¡Y siempre es seguro!
    </p></div></div>
<div class="footerposition2"><i class="fas fa-gift" id="iconofooter"></i>
<div class="footer2"><h5>Envío gratis desde $ 2.500</h5>
    <p>   
        Solo por estar registrad@ en Mercado Liebre
        tenés envíos gratis en miles de productos. Es
        un beneficio de Mercado Puntos.
    </p></div></div>
<div class="footerposition3"><i class="fas fa-user-shield" id="iconofooter"></i>
<div class="footer3"><h5>Seguridad, de principio a fin</h5>
    <p>   
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre
        no hay nada que no puedas hacer, porque estás 
        siempre protegid@.
    </p></div>
</div>

</footer>
<p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</body>
</html>